VITE_BASE_URL_ENDPOINT=http://127.0.0.1:3000/api/v1
VITE_DEFAULT_PASSWORD=hola123
# Mismo Client ID (tipo "Web application") configurado en el backend (GOOGLE_CLIENT_ID)
VITE_GOOGLE_CLIENT_ID=647664015463-nm0vth6nohvbot79qat9uf8h1nju9863.apps.googleusercontent.com
#NODE_VERSION=22.19.0
